@import "../../App.scss";


.kajiCenter-section{
    margin-top: 40px;
    .container-fluid{
        .row-custom2{
            @media only screen and (max-width: 992px) {
                justify-content: center;
            }
            .left-side-otr{
                width: 74% !important;
                .kajiCenter{
                    .pop-heading{
                        font-size: 18px;
                        line-height: 21px;
                        color: rgb(62, 65, 83);
                        font-weight: 400;
                        margin-bottom: 8px;
                    }
                    .row-custom3{
                        gap: 20px 0px;
                        .pop-box{
                            .kaji-otr-img{
                                position: relative;
                                transition: .4s;
                                .kajiImg{
                                    width: 100%;
                                    height: 188px;
                                    object-fit: cover;
                                    border-radius: 4px;
                                }
                                .btn-otr{
                                        background: linear-gradient(transparent, rgb(55, 51, 115)); 
                                        bottom: 0px;
                                        content: "";
                                        display: flex;
                                        height: 85%;
                                        left: 0px;
                                        position: absolute;
                                        right: 0px;
                                        width: 100%;
                                        .btn-detail{
                                            overflow: hidden;
                                            text-overflow: ellipsis;
                                            display: -webkit-box;
                                            -webkit-line-clamp: 2;
                                            -webkit-box-orient: vertical;
                                        }
                                    .btn-inr{
                                        transition: all 0.3s ease-in-out 0s;
                                        background: linear-gradient(transparent, rgb(55, 51, 115));
                                        font-size: 16px;
                                        line-height: 22px;
                                        border-radius: 2px;
                                        color:  rgb(255, 255, 255);
                                        font-weight: 400;
                                        display: flex;
                                        justify-content: space-between;
                                        gap: 0px 7px;
                                        align-items: flex-end;
                                        padding: 17px;
                                       
                                    }
                                }
                            }
                            
                        }
                    }
                }

            }
            
        }
    }
}
