@import "../../App.scss";

.SignIn-section{
    
    margin: 40px 0px 175px 0px;
    .container-fluid{
        .row-custom2{
            @media only screen and (max-width: 992px) {
                justify-content: center;
            }
            .left-side-otr{
                width: 74% !important;
                .SignIn{
                    background: rgb(55, 51, 115);
                    padding: 32px;
                    border-radius: 0.4rem;
                    .row-custom{
                        .SignIn-otr{
                            .SignIn-inr{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                flex-direction: column;
                                .heading-sign{
                                    font-size: 22px;
                                    line-height: 26px;
                                    color: rgb(255, 255, 255);
                                    font-weight: 500;
                                }
                                .detail-sign{
                                    font-size: 16px;
                                    line-height: 24px;
                                    color: rgb(255, 255, 255);
                                    font-weight: 400;
                                    margin:8px 0px 24px 0px;
                   
                                }
                                .btn-signOtr{
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    .btn-sign-in{
                                        background-color: rgb(243, 243, 249);
                                        border: 0.1rem solid rgb(105, 102, 150);
                                        color: rgb(55, 51, 115);
                                        padding: 0.5rem 2.0rem;
                                        transition: 0.3s ease-in-out;
                                        font-size: 1.0rem;
                                        line-height: 2.4rem;
                                        font-weight: 400;
                                        border-radius: 7px;
                                    }
                                }
                            }
                        }
                    }
                }

            }
            
        }
    }
}

// .SignIn{
//     background: rgb(55, 51, 115);
//     padding: 32px;
//     border-radius: 0.4rem;
//     margin: 40px 0px 175px 0px;
//     .row-custom{
//         .SignIn-otr{
//             .SignIn-inr{
//                 display: flex;
//                 justify-content: center;
//                 align-items: center;
//                 flex-direction: column;
//                 .heading-sign{
//                     font-size: 22px;
//                     line-height: 26px;
//                     color: rgb(255, 255, 255);
//                     font-weight: 500;
//                 }
//                 .detail-sign{
//                     font-size: 16px;
//                     line-height: 24px;
//                     color: rgb(255, 255, 255);
//                     font-weight: 400;
//                     margin:8px 0px 24px 0px;
   
//                 }
//                 .btn-signOtr{
//                     display: flex;
//                     justify-content: center;
//                     align-items: center;
//                     .btn-sign-in{
//                         background-color: rgb(243, 243, 249);
//                         border: 0.1rem solid rgb(105, 102, 150);
//                         color: rgb(55, 51, 115);
//                         padding: 0.5rem 2.0rem;
//                         transition: 0.3s ease-in-out;
//                         font-size: 1.0rem;
//                         line-height: 2.4rem;
//                         font-weight: 400;
//                         border-radius: 7px;
//                     }
//                 }
//             }
//         }
//     }
// }